#map {
  width: 1200px;
  height: 800px;
  position: relative;
  bottom: 0;
  right: 0;
}

#bienvenue {
  text-align: justify;
}

.column {
  float: left;
  font-size: 12px;
  margin-left: 20px;
}


.searchBar {
  border: 2px solid rgb(62, 149, 184) !important;
  max-width: 500px;
}

.leaflet-control-geocoder-ban-form input {
  line-height: 50px !important;
}

.leaflet-control-geocoder-ban-selected {
  background-color: rgba(128, 204, 40, 0.3) !important;
}

.leaflet-legend {
  border: 2px solid rgb(62, 149, 184) !important;
}

.leaflet-grid-label .lng {
  margin-left: 8px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

.upgrade-btn {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background-color: #a0ce92;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
}

.upgrade-btn:hover {
  background-color: #0f94d6;
}



/*---------------------------------------------------------------------------------------------------  */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

label {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.25em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  position: absolute;
  content: attr(data-content);
  color: #9c9e9f;
  -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  -webkit-text-decoration-color: #363839;
  text-decoration-color: #363839;
  transition: -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}





.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 78px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 11px;
}





.u-section-1 .u-form-1 {
  height: 78px;
  margin: 0 782px 0 125px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}



.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  margin: -60px 200px 0 auto;
  padding: 10px 30px 10px 29px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  margin: -42px 461px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 706px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 64px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 682px;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 736px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 487px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 308px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 108px;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 544px;
}




















.range_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 35% auto;
}

.sliders_control {
  position: relative;
  min-height: 10px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #3E95B8;
  width: 80px;
  height: 20px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}