<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <title>Tutoriel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Tutoriel.css') }}" media="screen">
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"
    defer=""></script>
  <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/nicepage.js') }}"
    defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
</head>

<body class="u-body">
  <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-2b19">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" data-page-id="1702119740" class="u-image u-logo u-image-1" data-image-width="1080"
        data-image-height="1269" title="Accueil">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">

        <div class="u-custom-menu u-nav-container">
          <li class="u-nav-item">
            <a class="u-button-style u-nav-link u-text-active-palette-5-dark-3 u-text-hover-palette-2-base" href="/"
              style="padding: 10px 32px;">QueryPeaks</a>
          </li>
        </div>
      </nav>
    </div>
  </header>

  <!-- Content -->
  <section class="u-clearfix u-section-1" id="sec-de37">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-default u-text-1">Tuto</h1>
    </div>
  </section>

  <!-- Footer -->
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-4ebf">
    <p class="u-small-text u-text u-text-variant u-text-1">Exemple de texte de pied de page</p>
  </footer>

</body>

</html>